[submodule "Pumpkin/libs/spdlog"]
	path = Pumpkin/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pumpkin/libs/GLFW"]
	path = Pumpkin/libs/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Pumpkin/libs/imgui"]
	path = Pumpkin/libs/imgui
	url = https://github.com/Moonix1/imgui.git
[submodule "Pumpkin/libs/glm"]
	path = Pumpkin/libs/glm
	url = https://github.com/g-truc/glm.git
